<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="application"
		point="org.eclipse.core.runtime.applications">
		<application>
			<run
				class="meteor.eclipse.plugin.core.Application">
			</run>
		</application>
	</extension>
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			class="meteor.eclipse.plugin.core.Perspective"
			name="Perspective"
			id="meteor.eclipse.plugin.core.perspective">
		</perspective>
	</extension>
	<extension
		point="org.eclipse.ui.views">
		<view
			class="meteor.eclipse.plugin.core.views.View"
			name="View"
			id="meteor.eclipse.plugin.core.view"
			inject="true">
		</view>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="*">
			<view
				id="meteor.eclipse.plugin.core.view"
				minimized="false"
				relationship="left"
				standalone="true"
				relative="org.eclipse.ui.editorss">
			</view>
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
  <command
        defaultHandler="meteor.eclipse.plugin.core.handler.ExportDataHandler"
        id="meteor.eclipse.plugin.core.command.export"
        name="&amp;Export">
  </command>
  <command
        defaultHandler="meteor.eclipse.plugin.core.handler.ImportDataHandler"
        id="meteor.eclipse.plugin.core.command.import"
        name="&amp;Import">
  </command>
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.ViewMainPanelHandler"
        id="meteor.eclipse.plugin.core.command.viewmainpanel"
        name="&amp;View Meteor panel">
		</command>
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.SetMutationEntrypointHandler"
        id="meteor.eclipse.plugin.core.command.setpitentrypoint"
        name="[1] Set project entry point for test">	
		</command>
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.CreateRefactoringSessionHandler"
        id="meteor.eclipse.plugin.core.command.createrefactoringsession"
        name="[2] Create refactoring session">	
		</command>		
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.RunMutationTestsHandler"
        id="meteor.eclipse.plugin.core.command.runmutationtests"
        name="[3] &amp;Run mutation tests">
		</command>
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.GenerateBaselineHandler"
        id="meteor.eclipse.plugin.core.command.generatebaseline"
        name="[4] &amp;Set last run results as baseline">
		</command>
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.ValidateRefactoringHandler"
        id="meteor.eclipse.plugin.core.command.validaterefactoring"
        name="[5] &amp;Validate refactoring">
		</command>	
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.ResetResultsHandler"
        id="meteor.eclipse.plugin.core.command.reset"
        name="&amp;Clean all results">
		</command>
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.GeneratePdfReportHandler"
        id="meteor.eclipse.plugin.core.command.printvalidation"
        name="&amp;Print validation results">
		</command>
		<command
        defaultHandler="meteor.eclipse.plugin.core.handler.AboutHandler"
        id="meteor.eclipse.plugin.core.command.about"
        name="&amp;About">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu">
			<menu
         icon="icons/meteorlogo16.png"
         label="Meteor">
      <command
            commandId="meteor.eclipse.plugin.core.command.viewmainpanel"
            icon="icons/meteorlogo16.png"
            label="&amp;View Meteor panel">
      </command>
      <separator
            name="meteor.eclipse.plugin.core.separator0"
            visible="true">
      </separator>
      <command
            commandId="meteor.eclipse.plugin.core.command.export"
            icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
            label="&amp;Export refactoring data">
      </command>
      <command
            commandId="meteor.eclipse.plugin.core.command.import"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/file_obj.png"
            label="&amp;Import refactoring data">
      </command>
				<separator
					name="meteor.eclipse.plugin.core.separator1" visible="true">
				</separator>
				<command
					commandId="meteor.eclipse.plugin.core.command.setpitentrypoint"
					label="[1] Set project entry point for test"
					icon="icons/meteorpin16.png">
				</command>
				<separator
					name="meteor.eclipse.plugin.core.separator2" visible="true">
				</separator>
				<command
					commandId="meteor.eclipse.plugin.core.command.createrefactoringsession"
					label="[2] &amp;Create refatoring session"
					icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.png">
				</command>
				<separator
					name="meteor.eclipse.plugin.core.separator3" visible="true">
				</separator>		
				<command
					commandId="meteor.eclipse.plugin.core.command.runmutationtests"
					label="[3] &amp;Run mutation tests"
					icon="icons/meteortest16.png">
				</command>
				<command
					commandId="meteor.eclipse.plugin.core.command.generatebaseline"
					label="[4] &amp;Set last run results as baseline"
					icon="icons/meteorpinbl.png">
				</command>
				<command
					commandId="meteor.eclipse.plugin.core.command.validaterefactoring"
					label="[5] &amp;Validate refactoring"
					icon="icons/meteorvalidate16.png">
				</command>
				<separator
					name="meteor.eclipse.plugin.core.separator4"
					visible="true">
				</separator>
				<command
					commandId="meteor.eclipse.plugin.core.command.reset"
					label="&amp;Clean all results"
					icon="icons/meteorclear16.png">
				</command>
				<command
					commandId="meteor.eclipse.plugin.core.command.printvalidation"
					label="&amp;Print validation results"
					icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/print_edit.png">
				</command>
				<separator
					name="meteor.eclipse.plugin.core.separator5"
					visible="true">
				</separator>
				<command
					commandId="meteor.eclipse.plugin.core.command.about"
					icon="icons/meteorlogo16.png"
					label="&amp;About">
				</command>
			</menu>
		</menuContribution>
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any">
			<menu
				label="Meteor"
				icon="icons/meteorlogo16.png">
      <command
            commandId="meteor.eclipse.plugin.core.command.viewmainpanel"
            icon="icons/meteorlogo16.png"
            label="&amp;View Meteor panel">
      </command>
      <separator
            name="meteor.eclipse.plugin.core.separator0"
            visible="true">
      </separator>
      <command
            commandId="meteor.eclipse.plugin.core.command.export"
            icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
            label="&amp;Export refactoring data">
      </command>
      <command
            commandId="meteor.eclipse.plugin.core.command.import"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/file_obj.png"
            label="&amp;Import refactoring data">
      </command>
      <separator
            name="meteor.eclipse.plugin.core.separator1"
            visible="true">
      </separator>
      <command
            commandId="meteor.eclipse.plugin.core.command.setpitentrypoint"
            icon="icons/meteorpin16.png"
            label="[1] Set project entry point for test">
      </command>
      <separator
            name="meteor.eclipse.plugin.core.separator2"
            visible="true">
      </separator>
      <command
            commandId="meteor.eclipse.plugin.core.command.createrefactoringsession"
            icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/editor_area.png"
            label="[2] &amp;Create refatoring session">
      </command>
      <separator
            name="meteor.eclipse.plugin.core.separator3"
            visible="true">
      </separator>
      <command
            commandId="meteor.eclipse.plugin.core.command.runmutationtests"
            icon="icons/meteortest16.png"
            label="[3] &amp;Run mutation tests">
      </command>
      <command
            commandId="meteor.eclipse.plugin.core.command.generatebaseline"
            icon="icons/meteorpinbl.png"
            label="[4] &amp;Set last run results as baseline">
      </command>
      <command
            commandId="meteor.eclipse.plugin.core.command.validaterefactoring"
            icon="icons/meteorvalidate16.png"
            label="[5] &amp;Validate refactoring">
      </command>
      <separator
            name="meteor.eclipse.plugin.core.separator4"
            visible="true">
      </separator>
      <command
            commandId="meteor.eclipse.plugin.core.command.reset"
            icon="icons/meteorclear16.png"
            label="&amp;Clean all results">
      </command>
      <command
            commandId="meteor.eclipse.plugin.core.command.printvalidation"
            icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/print_edit.png"
            label="&amp;Print validation results">
      </command>
      <separator
            name="meteor.eclipse.plugin.core.separator5"
            visible="true">
      </separator>
      <command
            commandId="meteor.eclipse.plugin.core.command.about"
            icon="icons/meteorlogo16.png"
            label="&amp;About">
      </command>
			</menu>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.startup">
		<startup
			class="meteor.eclipse.plugin.core.Startup">
		</startup>
	</extension>
</plugin>
